/* font-family: 'Roboto', sans-serif; */

/* GLOBAL WEBSITE SETTING */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* pages global settings */
body {
	background: #17181a;
	font-family: 'Roboto', sans-serif;
}

/* removing links underlining */
a {
	text-decoration: none;
}

/* header settings */
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 30vh;
}

header h2 {
	padding: 2rem;
}

/* logo settings */
#logo {
	color: white;
	font-size: 2.5rem;
}

.search-form {
	padding: 2rem;
	display: flex;
}

.search-form input {
	font-size: 2rem;
	padding: 0.5rem;
	width: 100%;
	border: none;
	border: 2px solid rgb(211, 65, 65);
}

.search-form button {
	font-size: 1rem;
	padding: 0.5rem;
	border: none;
	background: rgb(211, 65, 65);
	color: whitesmoke;
	cursor: pointer;
}

.gallery-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgb(211, 65, 65);
	padding: 0.5rem 0rem;
}

.gallery-info a {
	color: rgb(211, 65, 65);
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	padding: 2rem 0rem;
	width: 80%;
	margin: auto;
	row-gap: 5rem;
	column-gap: 3rem;
}

.gallery-img img {
	width: 100%;
	height: 95%;
	object-fit: cover;
}

.nav-button {
	min-height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.more {
	padding: 1rem 3rem;
	background: rgb(211, 65, 65);
	color: whitesmoke;
	border: none;
	font-size: 1.2rem;
	cursor: pointer;
}
